<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Adicionar Novo Livro</h1>
        <a href="{{ url_for('index') }}" class="btn-voltar">Voltar</a>
    </header>

    <main>
        <form action="{{ url_for('adicionar_livro') }}" method="POST" enctype="multipart/form-data">
            <label for="nome">Nome do Livro:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="pdf">Selecione o PDF:</label>
            <input type="file" id="pdf" name="pdf" accept=".pdf">

            <label for="epub">Ou selecione o EPUB:</label>
            <input type="file" id="epub" name="epub" accept=".epub">

            <label for="capa">Capa do Livro:</label>
            <input type="file" id="capa" name="capa" accept="image/*" required>

            <button type="submit">Adicionar Livro</button>
        </form>
    </main>
</body>
</html>
